#navbar {
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

#homeLink {
  display: inline-flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

#link {
  display: inline-flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

#logout {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}
